
/*** SEARCH-page and 404-page ***/

.search_no_results > h3.search_no_results_heading {
	font: normal 2rem 'Lora';
	color: #fff;
	text-align: center;
	margin-bottom: 3rem;
}

.search_no_results > .search_no_results_content {
	margin-bottom: 4rem;
}

.search_no_results > .search_no_results_content > p {
	font: normal 1.35rem/1.7 'Lora';
	color: #fff;
	text-align: left;
}

.search_no_results > .search_no_results_content > p:not(:first-child){
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	.search_no_results > .search_no_results_content > .single_news_sideBar_search,
	.not_found_404 > .not_found_404_content > .single_news_sideBar_search {
		width: 60%;
		margin: 0 auto;
	}
}

.not_found_404 > .not_found_404_image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem 0;
}

.not_found_404 > .not_found_404_image > svg#image_404 {
	width: 50%;
}

.not_found_404 > .not_found_404_content {
	margin-bottom: 3rem;
}

.not_found_404 > .not_found_404_content > h3 {
	font: normal 2rem 'Lora';
	color: #eac15a;
	text-align: center;
	margin: 5rem 0;
}

.not_found_404 > .not_found_404_content > h4 {
	font: normal 1.35rem/1.7 'Lora';
	color: #ccc;
	text-align: left;
	margin-left: 2.5rem;
}