section.about {
	@include planets_and_about_description;
	.about_greeting {
		margin-bottom: 5rem;
	}
	.about_slider {
		@include aligning_element;
		margin-bottom: 5rem;
		button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
			position: absolute;
			background: url("../img/arrow_for_all.svg") transparent no-repeat;
			border: 0;
			cursor: pointer;
			width: 34px !important;
			height: 34px !important;
		}
		button.slick-prev.slick-arrow {
			left: 10%;
			transform: rotate(-180deg) ;
			@media (max-width: 767px) {
				left: 0;
			}
		}
		button.slick-next.slick-arrow {
			right: 10%;
			@media (max-width: 767px) {
				right: 0;
			}
		}
		.slick-list.draggable {
			width: 70%;
			height: 450px;
			box-shadow: 0 0 50px 5px #fff;
			@media (max-width: 767px) {
				width: 90%;
				height: 300px !important;
			}
			.slick-track {
				height: 450px;
				@media (max-width: 767px) {
					height: 300px !important;
				}
				div.slick-slide {
					height: 450px;
					@media (max-width: 767px) {
						height: 300px !important;
					}
					img {
						width: 100% !important;
						height: 450px !important;
						object-fit: cover;
						@media (max-width: 767px) {
							height: 300px !important;
						}
					}
				}
			}
		}
	}
}