#wrapper {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	font: 400 1rem/1.5 'Lora',serif;
	@media (min-width: 1600px) {
		justify-content: center;
		padding: 0 10% !important;
	}
}
#main {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0 !important;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto; }
@media (min-width: 576px) {
	.container {
		max-width: 540px; } }
@media (min-width: 768px) {
	.container {
		max-width: 720px; } }
@media (min-width: 992px) {
	.container {
		max-width: 960px; } }
@media (min-width: 1024px) {
	.container {
		max-width: 1140px; } }

// Section (footer & header)  separator
.separator {
	border: 0;
	height: 2px;
	margin: 3rem 0;
	background-image: linear-gradient(to right, transparent, $gold-color, transparent);
	/*&:before,
	&:after {
		content: '';
		display: inline-block;
		border-radius: 100%;
		width: 40px;
		height: 40px;
		border: 2px solid $gold-color;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #000;
	}
	&:after {
		animation: sep_circle_out 2s ease-in-out infinite;
		border: .5px solid $gold-color;
		box-shadow: 0 0 20px 7px $gold-color, 0 0 20px 7px #C09954 inset;
		@keyframes sep_circle_out {
			100% {
				width: 40px;
				height: 40px;
			}
			0% {
				width: 0;
				height: 0;
			}
		}
	}*/
}

					/*** DISABLE SCROLLING page, when PoPuP Opened ***/

body.magnificPopupNoScroll,
html.magnificPopupNoScroll {
	overflow: hidden !important;
}
.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-ready {
	z-index: 99999;
}

button.mfp-close {
	font-size: 2.25rem !important;
}

@include section_description_with_adds;