section.contacts_content {
	margin-bottom: 3.5rem;
	@include common_contacts;
	.common_col_widget_contacts {
		&>ul {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			&>li {
				@include aligning_element;
				justify-content: flex-start;
				flex-direction: column;
				flex-basis: 33%;
				padding: 0 1rem;
				margin-bottom: 3rem;
				@media (max-width: 425px) {
					padding: 0 .7rem;
				}

				.contacts_subtitle {
					@include aligning_element;
					width: 100%;
					margin-bottom: 1.5rem;
					.contacts_subtitle_text {
						color: #fff;
						font: 1.5rem/2 'Lora';
						border-bottom: 1px solid $gold-color;
					}
				}
				.contacts_text {
					display: flex;
					justify-content: center;
					white-space: nowrap;
					.icon_address {
						margin-right: 2.25rem;
						@media (max-width: 425px) {
							margin-right: 1.25rem;
						}
					}
					.text_address {
						display: inline-block;
						color: #fff;
						@media (max-width: 425px) {
							font-size: 1rem;
						}
					}
				}
				&>a {
					.text {
						@media (max-width: 425px) {
							font-size: 1.1rem;
							line-height: 2;
						}
					}
					.icon {
						@media (max-width: 425px) {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

section.contacts_visual {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
	@media (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
	}
	.contacts_visual_map {
		width: 47%;
		box-shadow: 0 0 20px 15px grey;
		@media (max-width: 1024px) {
			width: 90%;
			margin-bottom: 4rem;
			height: 450px;
		}
		&>iframe {
			width: 100%;
			height: 100%;
			filter: brightness(90%);
		}
	}
	.contacts_visual_form {
		@include aligning_element;
		width: 47%;
		box-shadow: 0 0 20px 5px grey;
		@media (max-width: 1024px) {
			width: 90% !important;
		}
		@include signUp_form_content;
		padding: 0;
		margin: 0;
		height: auto;
		form.signUp_form {
			width: 100%;
			font-size: 1.5rem;

			.signUp_form_heading {
				@media (max-width: 479px){
					padding: 0 10%;
					text-align: center;
				}
			}
			.signUp_form_note {
				margin-bottom: 2.5rem;
				@media (max-width: 479px){
					padding: 0 10%;
					text-align: center;
				}
			}
			.signUp_form_item {
				width: 80% !important;

				label.signUp_form_item_label {
					span.spanBox {
						@media (max-width: 375px){
							left: 10%;
						}

					}
				}
			}
		}
	}
}
