@font-face {
	font-family: 'Marck Script';
	src: url('../fonts/MarckScript-Regular.woff2') format('woff2'),
	url('../fonts/MarckScript-Regular.woff') format('woff'),
	url('../fonts/MarckScript-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Regular.woff2') format('woff2'),
	url('../fonts/Lora-Regular.woff') format('woff'),
	url('../fonts/Lora-Regular.ttf') format('truetype')
;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

