
header{
	display: flex;
	justify-content: center;
	height: 100%;
	.head_menu{
		@include aligning_element;
		position: absolute; //fixed;
		transition: all 1s ease-in-out;
		z-index: 999;
		padding: 0 3.125rem;
		margin: 1rem 0 0;
		width: 100%;
		height: 90px;
		@media (min-width: 1600px) {
			padding: 0 10% !important;
		}
		@media (max-width: 1100px) {
			padding: 0 1rem;
		}
		@media (max-width: 1023px) {
			margin: 0;
			padding: 0;
			height: 60px;
		}
		.logo_and_icons_wrapper {
			display: flex;
			position: relative;
			z-index: 9999;
			height: 100%;
			margin-right: auto;
			filter: brightness(120%) contrast(120%) ;
			@media (max-width: 1023px) {
				width: 100%;
				padding: 1.5% 5%;
				margin: 0;
				background-color: #000;
				justify-content: space-between;
			}
			&>a {
				display: none;
				@media (max-width: 1023px){
					@include aligning_element;
				}
				.link_about {
					@include aligning_element;
					p.link_about_text {
						color: #fff;
						font: 1.1rem 'Lora';
						@media (max-width: 316px) {
							font-size: .9rem;
						}
					}
					.link_about_icons {
						position: relative;
						height: 1rem;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						margin-left: 1rem;
						&>span {
							display: block;
							position: relative;
							left: 0;
							height: 2px;
							width: 25px;
							background: #fff;
							border-radius: 10px;
						}
					}
				}
			}
			.logo{
				margin: 0 auto 0 1rem ;
				padding-bottom: .4rem;
				@include aligning_element;
				@media (max-width: 1023px) {
					margin: .2rem 0 0 ;
					padding: 0;
				}
				&>a {
					.logo_image{
						width: 120px;
						height: 70px;
						object-fit: cover;
						filter: contrast(150%);
						@media (max-width: 1023px) {
							height: 40px;
							width: auto;
						}
						@media (max-width: 316px) {
							height: 37px;
						}
					}
				}
			}
			.head_menu_icon {
				display: none;
				@media (max-width: 1023px) {
					@include aligning_element;
				}
				.head_menu_icon_content {
					position: relative;
					height: 1rem;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-right: 1rem;
					span {
						display: block;
						position: relative;
						left: 0;
						height: 2px;
						width: 25px;
						background: #fff;
						border-radius: 10px;
						transform: rotate(0deg);
						transition: .5s ease-in-out;
					}
					span:nth-child(3) {
						position: absolute;
						top: calc(50% - 1px);
					}
				}
				p.head_menu_icon_text {
					color: #fff;
					font: 1.1rem 'Lora';
					@media (max-width: 316px) {
						font-size: .9rem;
					}
				}
			}
		}
		nav.nav_menu {
			@include aligning_element;
			@media (max-width: 1023px) {
				position: absolute;
				z-index: 999;
				top: -1200%;
				width: 100%;
				background: url('../img/bg_body.jpg') no-repeat center/cover;
				transition: top 1.2s ease-out;
			}
			&>ul {
				@include aligning_element;
				height: 100%;
				margin-top: 1.5rem;
				@media (max-width: 1023px) {
					align-items: flex-start;
					flex-direction: column;
					width: 100%;
					margin: 1rem 0 2rem 3rem;
				}
				@media (max-width: 319px) {
					margin-left: 2rem;
				}

				&>li.nav_link {
					position: relative;
					padding: 0 1.03rem;
					height: 40%;
					@media (min-width: 425px) and (max-width: 1023px) {
						margin-left: 33%;
					}
					&>a {
						overflow: hidden;
						position: relative;
						display: flex;
						flex-direction: column;
						font: 1.25rem 'Lora';
						color: #fff;
						opacity: 1!important;
						@media (max-width: 1023px) {
							margin: 0 0 1.5rem;
							padding-bottom: 8px;
							display: inline-block;
							border-bottom: 1.5px solid $gold-color;
						}
						.nav_link_wrapper {
							@include aligning_element;
							@media (max-width: 1023px) {
								justify-content: left;
							}
							.nav_link_pin {
								margin: 0 0 0 10px;
								box-shadow: none;

								@media (max-width: 1023px) {
									box-shadow: 0 0 10px #fff inset;
									margin-left: 2.5rem;

								}
							}
							.arrow_state_change span.nav_link_arrow_left {
								transform-origin: center center;
								transform: rotate(-45deg) !important;
							}
							.arrow_state_change span.nav_link_arrow_right {
								transform-origin: center center;
								transform: rotate(45deg) !important;
							}
						}
						@extend %menu_underline;
					}
					ul.sub-menu {
						display: none;
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						position: absolute;
						z-index: 999;
						padding: 0 .9rem;
						font: normal 1.15rem/.9 'Lora';
						width: 14rem;
						@media (min-width: 1024px) {
							top: 90%;
							left: -5%;
							background: #000;
							box-shadow: 0 0 10px 1px #eac15a;
						}
						@media (max-width: 1023px) {
							position: relative;
							margin: 0 0 .6rem 1.25rem;
							font-style: italic;
							width: auto;
						}
						li.nav_link_sub_menu_item {
							overflow: hidden;
							&:first-child {
								@media (min-width: 1024px) {
									margin-top: 1.8rem;
								}
							}
							&>a {
								display: inline-block;
								margin-bottom: .7rem;
								padding-bottom: 7px;
								color: #fff;
								opacity: 1!important;
								&:hover p {
									color: $gold-color !important;
								}
								&:hover .sub_underline {
									left: 8%;
								}
								&>p {
									white-space: nowrap;
									&::before {
										content: '•';
										color: $gold-color;
										margin-right: 12px;
									}
								}
								@extend %menu_underline;
								.sub_underline {
									margin: 0;
								}

							}
						}
						.menu_current_item, .sub_menu_current_item {
							a {
								p {
									color: #eac15a !important;
								}
							}
							.sub_underline{
								left: 8% !important;
							}
						}
					}
				}
			}
		}
	}

	.fixing_menu {
		position: fixed;
		height: 60px;
		margin: 0;
		background-color: #000;
		box-shadow: 0 0 5px #eac15a;
		animation: main_menu_moving 1s 0s linear forwards;
		@keyframes main_menu_moving {
			from {
				transform: translateY(-100%) ;
			}
			to {
				transform: translateY(0) ;
			}
		}
		@media (min-width: 1024px){
			padding-top: .5rem;

		}
		.logo_and_icons_wrapper {
			.logo_image {
				transform: scale(.75);
			}
		}
		nav.nav_menu {
			&>ul {
				li.nav_link {
					&>a {
						span.underline {
							margin-top: .3rem;
						}
					}
				}
			}
		}
	}

	.mobile_menu_open {
		position: fixed;
		nav.nav_menu {
			top: 100%;
		}
		.head_menu_icon {
			.head_menu_icon_content {
				span:nth-child(1) {
					left: 620%;
				}
				span:nth-child(2) {
					transform: rotate(-45deg);
				}
				span:nth-child(3) {
					transform: rotate(45deg);
				}
				span:nth-child(4) {
					left: 620%;
				}
			}
		}
	}

	.breadcrumbs {
		display: flex;
		justify-content: center;
			.breadcrumbs_wrapper {
			text-align: center!important;
			max-width: 80%;
			margin-top: 10rem;
			@media (max-width: 1023px) {
				margin-top: 6rem;
			}
			h1.breadcrumbs_heading {
				font: 700 2.7rem/1.2 'Lora'!important;
				color: $gold-color;
				margin-bottom: 1rem!important;
				@media (max-width: 425px) {
					font-size: 2rem!important;
				}
			}
			.breadcrumbs_items {
				font: italic 400 1.125rem 'Lora';
				margin-bottom: 20px;
				z-index: 99;
				line-height: 1.5;
				color: $gold-color;
				.breadcrumbs_items_source {
					margin-right: 15px!important;
					.breadcrumbs_items_context {
						color: rgba(255,255,255,1);
						white-space: nowrap;
						display: inline-flex;
						align-items: center;
						span.arrow_svg_wrapper {
							fill: #fff;
							margin: .5rem 0 0 .5rem;
							svg.breadcrumbs_arrow {
								width: 18px;
								height: 18px;
							}
						}
						&:hover {
							color: $gold-color;
						}
						&:hover span.arrow_svg_wrapper {
							fill: $gold-color;
						}
					}
				}
				span.breadcrumbs_items_location {
					white-space: nowrap;
					display: inline-flex;
					align-items: center;
					span.arrow_svg_wrapper {
						fill: $gold-color;
						margin: .5rem 0 0 .5rem;
						svg.breadcrumbs_arrow {
							width: 18px;
							height: 18px;
						}
					}
				}
			}
		}
	}
	.menu_current_item, .sub_menu_current_item{
		a {
			p {
				color: $gold-color!important;
			}
			.nav_link_wrapper {
				p {
					color: $gold-color!important;
				}
				.nav_link_pin {
					.nav_link_arrow_left, .nav_link_arrow_right  {
						background-color: $gold-color!important;
					}
				}
			}
			.underline {
				left: 0 !important;
			}
		}
	}
}
@include nav_link_and_text_open;