/*** COMMON ***/

%nav_link_and_text_open {
  .common_description_text_open, .nav_link_pin {
    position: relative;
    z-index: 10;
    cursor: pointer;
    margin: 12px 20px 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px $gold-color;
    flex-shrink: 0;

    span.arrow-text-left, span.arrow-text-right,
    span.nav_link_arrow_left,span.nav_link_arrow_right {
      position: absolute;
      top: 48%;
      width: 10px;
      height: 1.3px;
      display: block;
      border-radius: 20px;
      transition: all 1s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    }
    span.arrow-text-left, span.nav_link_arrow_left {
      left: 22%;
      transform: rotate(45deg);
    }
    span.arrow-text-right, span.nav_link_arrow_right {
      left: 45%;
      transform: rotate(-45deg);
    }
    span.arrow-text-left, span.arrow-text-right {
      background-color: $gold-color;
    }
    span.nav_link_arrow_left, span.nav_link_arrow_right  {
      background-color: #fff;
    }
  }
  .common_description_text_open:hover {
    box-shadow: 0 0 7px 2px $gold-color inset;
  }

}

%menu_underline {
  @media (min-width: 1024px) {
    .underline, .sub_underline{
      display: inline-block;
      position: relative;
      left: -700%;
      width: 101%;
      height: 1px;
      background-color: $gold-color;
      transition: left ease-out .5s;
      margin-top: .7rem;
      margin-bottom: 1.6rem;
    }
  }
}

%common_description_text {
  font: normal 1.3rem/1.5 'Lora';
  color: #fff;
  margin: 0 3% 1rem;
  text-align: left;
  text-indent: 2.5rem;
  @media (max-width: 479px) {
    line-height: 1.6;
    font-size: 1rem;
  }
}

/*** STUDIO PLANETS ***/

%transforming_lines {
  background: $gold-color;
  width: 0;
  height: 2px;
  transform-origin: 0 0;
  position: relative;
  z-index: 1;
}

%transforming_content_tooltip {
  display: inline;
  background: #000;
  color: #fff;
  border: 1.33px solid #eac15a;
  font: 1rem 'Lora', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  opacity: 0;
  @media (max-width: 767px) {
    align-self: flex-start;
  }
  &:hover {
    box-shadow: 0 0 30px 2.5px $gold-color ;
  }
}

%transforming_content_sphere_image {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $gold-color;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 15px 5px $gold-color;
  opacity: 0;
  &:hover {
    box-shadow: 0 0 45px 10px $gold-color;
  }
}

%transforming_ball {
  position: absolute;
  background-color: $gold-color;
  background-image: linear-gradient(90deg, $gold-color 25%, #F8E8B3);
  width: 7px;
  height: 7px;
  border-radius: 50px;
  z-index: 99;
  transform: scale(0);
}

%moving_ray {
  display: flex;
  width: 9px;
  height: 2px;
  background-color: $gold-color;
  box-shadow: 0 0 20px 10px $gold-color;
}

// &+ WORLD_MAP
%world_map_indicator {
  width: 150px;
  min-height: 150px;
  background: transparent;
  position:absolute;
  z-index: 20;
  color:#000;
  border-radius:10px;
  display: none;
  .indicator_inner {
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .indicator_inner_image{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-bottom: 10px;
      object-fit: cover;
    }
    .indicator_inner_country {
      text-align: center;
      display: block;
      color: #fff;
      font: bold 1.1rem Arial;
      -webkit-text-stroke: .8px #000;
      padding:10px 10px;
      border-radius: 10px;
      @media (min-width: 1024px) {
        text-shadow: 0 0 50px #fff;
      }
    }
  }
}

/*** SCHOOL PLANETS ***/

%main_planet_line {
  @include aligning_element;
  position: relative;
  width: 250px;
  transform-origin: 0 0;
}

%link_in_planet_line {
  position: absolute;
  width: 170px;
  height: 170px;
  display: inline-flex;
  align-items: center;
}

%true_shining_road {
  display: block;
  position: absolute;
  width: 146px;
  height: 2px;
  background: $gold-color;
}

%true_shine_rays {
  display: flex;
  width: 8px;
  height: 2px;
  background-color: $gold-color;
  box-shadow: 0 0 20px 10px $gold-color;
  animation: true_sun_shine 3s ease-in-out infinite;
  @keyframes true_sun_shine {
    0% {
      transform: translateX(-70%);
    }
    100% {
      transform: translateX(1800%);
    }
  }
}

/*** FRONT-PAGE ***/

%direction_link {
  position: absolute;
  z-index: 5;
  background: rgba(255, 255, 255, .50);
  width: 350px;
  height: 450px;
  @include aligning_element;
  .interactive_school_inner, .interactive_studio_inner {
    @include aligning_element;
    flex-direction: column;
    a.direction_item{
      display: inline-block;
      position: relative;
      left: -10%;
      text-decoration: none;
      font: bold 1.2rem 'Lora';
      color: #fff;
      filter: brightness(100%);
      @media (min-width: 1024px) {
        &:hover  {
          padding: 3px 10px;
          border-radius: 100px;
          color: #FFE15D;
        }
      }
      &>p {
        display: inline-block;
        line-height: 1;
        text-shadow:
                -0   -1px 0 #000000,
                0   -1px 0 #000000,
                -0    1px 0 #000000,
                0    1px 0 #000000,
                -1px -0   0 #000000,
                1px -0   0 #000000,
                -1px  0   0 #000000,
                1px  0   0 #000000,
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px  1px 0 #000000,
                1px  1px 0 #000000,
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                -1px  1px 0 #000000,
                1px  1px 0 #000000;
      }
      &>hr {
        background: $gold-color;
        border: 0;
        height: 2.2px;
        box-shadow: 0 0 0 .7px #000;
        margin-top: 5px;
      }
    }
  }
}

/*** VIDEO ITEM ***/

%single_video_item {
  .videos_item {
    margin: 4rem 2% 6rem;
    @media (max-width: 768px) {
      margin: 0 0 2rem;
    }
    .videos_item_heading {
      @include aligning_element;
      &>h3 {
        text-align: center;
        font: 2.15rem 'Lora';
        color: #ebedec;
        margin-bottom: 2.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $gold-color;
      }
    }
    .videos_item_wrapper {
      display: flex;
      @media (max-width: 1124px) {
        flex-direction: column;
      }
      .videos_item_content {
        display: flex;
        width: 58%;
        @media (max-width: 1124px) {
          width: 100%;
          margin-bottom: 3rem;
        }
        @media (max-width: 768px) {
          flex-direction: column;
        }
        .videos_item_content_video {
          width: 74%;
          display: flex;
          flex-direction: column;
          @media (max-width: 768px) {
            margin-bottom: 0;
            width: 100%;
          }
          .videos_item_content_video_inner {
            width: 100%;
            min-height: 335px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2.1rem;
            @media (max-width: 767px) {
              width: 100%;
              margin-bottom: 3rem;
            }

            .popup-youtube {
              display: inline-flex;
              width: 70px;
              height: 70px;
              background: $gold-color;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              animation: video_pulse 2s infinite;
              @keyframes video_pulse {
                0% { box-shadow: 0 0 0 0 $gold-color; }
                70% { box-shadow: 0 0 0 30px transparent; }
                100% { box-shadow: 0 0 0 0 transparent; }
              }
              &>span {
                background-image: url("../img/media_control.svg");
                width: 24px;
                height: 24px;
              }
            }
          }
          .videos_item_content_video_images {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @media (max-width: 768px) {
              width: 100%;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;

            }
            a.videos_item_content_images_single {
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              @media (max-width: 768px) {
                padding-left: 0;
                margin: 0 .3rem .6rem;
              }
              &>img {
                width: 150px;
                height: 150px;
                object-fit: cover;
              }
              span.magnifying_glass {
                display: none;
                position: absolute;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $gold-color;
                font-size: 1.7rem;
                color: #000;
                padding-bottom: .23rem;
              }
              &:hover span.magnifying_glass {
                display: flex;
              }
            }
          }
        }
        .videos_item_content_images {
          width: 26%;
          display: flex;
          flex-wrap:wrap;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          line-height: 1;
          @media (min-width: 1125px){
            justify-content: flex-start;
          }
          @media (max-width: 768px){
            flex-direction: row;
            width: 100%;
            justify-content: center;
          }
          a.videos_item_content_images_single {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            @media (min-width: 1125px){
              padding-bottom: 2.125rem;
              &:last-child {
                padding-bottom: 0;
              }
            }
            @media (max-width: 767px) {
              margin: 0 .3rem .6rem;
            }
            &>img {
              width: 150px;
              height: 150px;
              object-fit: cover;
            }
            span.magnifying_glass {
              display: none;
              position: absolute;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $gold-color;
              font-size: 1.7rem;
              color: #000;
              padding-bottom: .23rem;
            }
            &:hover span.magnifying_glass {
              display: flex;
            }
          }
        }
      }
      .videos_item_description {
        @extend %common_description_text;
        margin: 0 0 0 2%;
        display: block;
        width: 38%;
        @media (max-width: 1124px) {
          width: 100%;
        }
        &>h3 {
          text-align: center;
          text-indent: 0;
          font-size: 1.9rem;
          color: $gold-color;
          margin-bottom: 2rem;
          &:first-letter {
            font-size: 2.5rem;
            line-height: 1.2;
            margin: 0 0 0 1rem;
          }
        }
      }
    }
  }
}