section.dance_staging {
	.dance_staging_description {
		display: block;
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 5rem;
		.dance_staging_description_invariable {
			@include common_description_text;
			text-align: center;
			&>span.highlighted_symbol {
				font-family: 'Lora', sans-serif;
				margin: 0;
			}
			&:first-letter {
				font-family: inherit;
				font-size: inherit;
				line-height: inherit;
				color: inherit;
				margin: 0;
			}
		}
		.dance_staging_description_item {
			@include aligning_element;
			justify-content: flex-start;
			span[id^='scroll_anchor_from_'].dance_staging_description_pin {
				@include aligning_element;
				position: relative;
				z-index: 10;
				cursor: pointer;
				margin: 20px 20px 20px;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				box-shadow: 0 0 10px 3px #fff inset;
				flex-shrink: 0;
				&:hover {
					box-shadow: 0 0 10px 3px #fff;
				}
				span.dance_staging_arrow_left, span.dance_staging_arrow_right {
					position: absolute;
					width: 10px;
					height: 1.2px;
					display: block;
					border-radius: 20px;
					background-color: $gold-color;
				}
				span.dance_staging_arrow_left {
					right: 50%;
					margin-right: -2px;
					transform: rotate(45deg);
				}
				span.dance_staging_arrow_right {
					left: 50%;
					margin-left: -2px;
					transform: rotate(-45deg);
				}
			}
			.dance_staging_description_pin {
				display: flex;
				cursor: auto;
				margin: 15px 20px;
				width: 40px;
				height: 40px;
				flex-shrink: 0;
			}
			span.highlighted_symbol {
				font: normal 2.5rem/1 "Lora", cursive;
				color: #e20000;
			}
			.dance_staging_description_item_context {
				@include common_description_text;
				margin: 0 0 0 1.25rem;
				&:first-letter {
					font-family: inherit;
					font-size: inherit;
					line-height: inherit;
					color: inherit;
					margin: 0;
				}
			}
		}
	}
	@extend %single_video_item;
	.videos_item {
		margin-bottom: 5rem;
	}
}