.planets{
	margin-top: 2.5rem;
	margin-bottom: 3rem;
	.planets_content {
		@include aligning_element;
		width: 100%;
		height: 700px;
		position: relative;
		@media (min-width: 1024px) and (max-width: 1240px) { //Desktop
			transform: scale(.95);
		}
		@media (min-width: 890px) and (max-width: 1180px) { //Desktop - Tablet
			transform: scale(.71);
			height: 450px;
		}
		@media (min-width: 768px) and (max-width: 890px) { //Tablet
			transform: scale(.625);
			height: 380px;
		}
		@media (max-width: 767px) { //Phone
			height: 2550px;
		}
		.planets_content_center {
			width: 100%;
			position: relative;
			& > a {
				display: block;
				width: 155px;
				height: 155px;
				margin: 0 auto;
				position: relative;
				z-index: 20;

				img.planets_content_center_image {
					width: 100%;
					height: 100%;
					border: 1px solid $gold-color;
					border-radius: 50%;
					border-color: transparent;
					background: #000;
					box-shadow: 0 0 70px 17px $gold-color;
					filter: brightness(110%);
				}
			}
			ul#planets_content_lines {
				list-style: none;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 10;
				li.planets_content_lines_top_left {
					@extend %main_planet_line;
					transform: rotate(225deg);
					@media (max-width: 767px) { //Phone
						transform: rotate(270deg) translateX(320%);
					}
					a.planets_content_top_left_link {
						@extend %link_in_planet_line;
						left: 137%;
						bottom: -21px;
						transform: rotate(135deg);
						@media (max-width: 767px) { //Phone
							transform: rotate(90deg);
							flex-direction: column;
							height: auto;
							left: 116%;
							bottom: -112px;
						}
						p.planets_content_top_left_tooltip {
							@include transforming_content_tooltip;
							margin-right: 1rem;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-right: 0;
								align-self: center;
								box-shadow: 0 0 30px 2.5px $gold-color ;
							}
						}
						& > img {
							@include transforming_content_sphere_image;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								height: 170px;
								margin-top: .8rem;
							}
						}
					}
					span.shining_road {
						@extend %true_shining_road;
						left: 40%;
						span.moving_ray_top_left {
							@extend %true_shine_rays;
						}
					}
				}
				li.planets_content_lines_top_right {
					@extend %main_planet_line;
					transform: rotate(315deg);
					@media (max-width: 767px) { //Phone
						transform: rotate(270deg) translateX(160%);
					}
					a.planets_content_top_right_link {
						@extend %link_in_planet_line;
						left: 109%;
						bottom: -76px;
						transform: rotate(45deg);
						@media (max-width: 767px) { //Phone
							transform: rotate(90deg);
							left: 116%;
							bottom: -112px;
							flex-direction: column;
							height: auto;
						}
						p.planets_content_top_right_tooltip {
							@include transforming_content_tooltip;
							margin-left: 1rem;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								order: -1;
								margin-left: 0;
								align-self: center;
								box-shadow: 0 0 30px 2.5px $gold-color ;
							}
						}
						& > img {
							@include transforming_content_sphere_image;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								height: 170px;
								margin-top: .8rem;
							}
						}
					}
					span.shining_road {
						@extend %true_shining_road;
						left: 40%;
						span.moving_ray_top_left {
							@extend %true_shine_rays;
						}
					}
				}
				li.planets_content_lines_center_left {
					@extend %main_planet_line;
					transform: rotate(180deg);
					@media (max-width: 767px) { //Phone
						transform: rotate(270deg);
					}
					a.planets_content_center_left_link {
						@extend %link_in_planet_line;
						left: 170%;
						bottom: -85px;
						transform: rotate(180deg);
						@media (max-width: 767px) { //Phone
							transform: rotate(90deg);
							left: 116%;
							bottom: -114px;
							height: auto;
							flex-direction: column;
							align-items: center;
						}
						p.planets_content_center_left_tooltip {
							@include transforming_content_tooltip;
							margin-right: 1rem;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-right: 0;
								align-self: center;
								box-shadow: 0 0 30px 2.5px $gold-color ;
							}
						}
						& > img {
							@include transforming_content_sphere_image;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								height: 170px;
								margin-top: .8rem;
							}
						}
					}
					span.shining_road {
						@extend %true_shining_road;
						left: 40%;
						span.moving_ray_top_left {
							@extend %true_shine_rays;
						}
					}
				}
				li.planets_content_lines_center_right {
					@extend %main_planet_line;
					@media (max-width: 767px) { //Phone
						transform: rotate(90deg);
					}
					a.planets_content_center_right_link {
						@extend %link_in_planet_line;
						left: 109%;
						@media (max-width: 767px) { //Phone
							transform: rotate(-90deg);
							flex-direction: column;
							left: 104%;
						}
						p.planets_content_center_right_tooltip {
							@include transforming_content_tooltip;
							margin-left: 1rem;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-left: 0;
								align-self: center;
								order: -1;
								box-shadow: 0 0 30px 2.5px $gold-color ;
							}
						}
						& > img {
							@include transforming_content_sphere_image;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-top: .8rem;
							}
						}
					}
					span.shining_road {
						@extend %true_shining_road;
						left: 40%;
						span.moving_ray_top_left {
							@extend %true_shine_rays;
						}
					}
				}
				li.planets_content_lines_bottom_left {
					@extend %main_planet_line;
					transform: rotate(135deg);
					@media (max-width: 767px) { //Phone
						transform: rotate(90deg) translateX(320%);
					}
					a.planets_content_bottom_left_link {
						@extend %link_in_planet_line;
						left: 170%;
						bottom: -230px;
						transform: rotate(225deg);
						@media (max-width: 767px) { //Phone
							transform: rotate(-90deg);
							left: 115%;
							bottom: -118px;
							flex-direction: column;
							height: auto;
						}
						p.planets_content_bottom_left_tooltip {
							@include transforming_content_tooltip;
							margin-right: 1rem;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-right: 0;
								align-self: center;
								box-shadow: 0 0 30px 2.5px $gold-color ;
							}
						}
						& > img {
							@include transforming_content_sphere_image;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-top: .8rem;
								height: 170px;
							}
						}
					}
					span.shining_road {
						@extend %true_shining_road;
						left: 40%;

						span.moving_ray_top_left {
							@extend %true_shine_rays;
						}
					}
				}
				li.planets_content_lines_bottom_right {
					@extend %main_planet_line;
					transform: rotate(45deg);
					@media (max-width: 767px) { //Phone
						transform: rotate(90deg) translateX(160%);
					}
					a.planets_content_bottom_right_link {
						@extend %link_in_planet_line;
						left: 112%;
						bottom: -80px;
						transform: rotate(315deg);
						@media (max-width: 767px) { //Phone
							height: auto;
							transform: rotate(-90deg);
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							left: 115%;
							bottom: -112px;
						}
						p.planets_content_bottom_right_tooltip {
							@include transforming_content_tooltip;
							margin-left: 1rem;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								margin-left: 0;
								order: -1;
								align-self: center;
								box-shadow: 0 0 30px 2.5px $gold-color ;
							}
						}
						& > img {
							@include transforming_content_sphere_image;
							opacity: 1;
							@media (max-width: 767px) { //Phone
								height: 170px;
								margin-top: .8rem;
							}
						}
					}
					span.shining_road {
						@extend %true_shining_road;
						left: 40%;
						span.moving_ray_top_left {
							@extend %true_shine_rays;
						}
					}
				}
			}
		}
	}
}