.single_news_wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1rem 1rem 5rem;
	@media (max-width: 1024px){
		flex-direction: column-reverse;
	}
	aside.single_news_sideBar {
		width: 32%;
		position: relative;
		padding: 0 1.5rem 0;

		@media (max-width: 1024px){
			width: 100%;
		}
		.single_news_sideBar_resentEntries {
			width: 100%;
			.resentEntries_heading {
				@include aligning_element;
				margin-bottom: 3rem;
				&>h3 {
					color: #fff;
					font: 1.5rem/2 'Lora';
					border-bottom: 1px solid #eac15a;
				}
			}
			.resentEntries_item {
				display: flex;
				justify-content: center;
				width: 100%;
				margin-bottom: 1.5rem;
				a.resentEntries_item_image {
					display: block;
					margin-right: 20px;
					&>img {
						width: 100px;
						height: 100px;

						object-fit: cover;
					}
				}
				.resentEntries_item_text {
					width: 70%;
					&>a {
						display: block;
						text-align: justify;
						color: #ebedec;
						font: 1rem 'Lora';
						margin-bottom: 1rem;
						padding-bottom: 1rem;
						border-bottom: 1px solid $gold-color;

					}
				}
			}
		}
	}
	div.single_news_content {
		width: 64%;
		color: #ebedec;
		position: relative;
		padding: 0 1.5rem 0;
		@media (max-width: 1024px){
			width: 100%;
		}
		div.single_news_image { // with background
			width: 100%;
			height: 400px;
			margin-bottom: 2rem;
		}
		.single_news_heading {
			@include aligning_element;
			&>h2 {
				font: bold 2rem/2 'Lora';
				margin-bottom: 1.5rem;
				border-bottom: 1px solid #eac15a;
			}
		}
		.single_news_text {
			margin-bottom: 4rem;
			border-bottom: 1px solid $gold-color;
			&>p {
				font: 1.2rem/1.6 'Lora';
				text-align: justify;
				text-indent: 50px;
				&:last-child {
					margin-bottom: 3rem;
				}
			}
		}
		.comments_form {
			@include aligning_element;
			@include signUp_form_content;
			padding: 0;
			width: 75%;
			height: auto;
			@media (max-width: 479px) {
				width: 100%;
			}

			form.signUp_form {
				width: 100%;
				box-shadow: 0 0 20px 5px grey;
				font-size: 1.5rem;

				.signUp_form_heading {
					@media (max-width: 479px){
						padding: 0 10%;
						text-align: center;
					}
				}
				.signUp_form_note {
					margin-bottom: 2.5rem;
					@media (max-width: 479px){
						padding: 0 10%;
						text-align: center;
					}
				}
				.signUp_form_item {
					@media (max-width: 479px){
						padding: 0 10%;
					}
					label.signUp_form_item_label {
						span.spanBox {
							@media (max-width: 479px){
								left: 15%;
							}

						}
					}
					&:nth-of-type(3) {
						height: auto;
						label.signUp_form_item_label {
							span.spanBox {
								bottom: 80%;
							}
						}
					}
				}
			}
		}
	}
}
.single_news_sideBar_search {
	@include aligning_element;
	margin-top: 5rem;
	margin-bottom: 3rem;
	width: 100%;
	form.search_form {
		flex-basis: 100%;
		flex-shrink: 0;
		.search_form_item {
			position: relative;
			label.search_form_item_label {
				span.spanBox {
					position: absolute;
					bottom: 30%;
					left: 4%;
					opacity: .7;
					visibility: hidden;
					transition: .4s;
					color: $gold-color;
					font: 1.1rem 'Lora', sans-serif;
					cursor: text;
					white-space: nowrap;
					@media (min-width: 1024px) and (max-width: 1080px) {
						font-size: 1rem;
					}
					@media (max-width: 413px) {
						font-size: .9rem;
					}
					@media (max-width: 320px) {
						font-size: .73rem;
					}
					@media (max-width: 275px) {
						white-space: pre-line;
					}
				}
				input:placeholder-shown ~ span {
					visibility: visible;

				}
				input:placeholder-shown:focus ~ span,
				input:not(:placeholder-shown) ~ span {
					bottom: 130%;
					font-size: 1rem;
					opacity: 1;
					visibility: visible;
				}
				&>input.inputBox {
					position: relative;
					z-index: 5;
					background-color: transparent;
					color: $gold-color;
					border: 1.3px solid $gold-color;
					border-radius: 10px;
					width: 100%;
					height: 95%;
					padding: 10px 10px;
					font: 1.3rem 'Lora', sans-serif;
					cursor: text;
				}
				&>input.inputBox::placeholder {
					color: rgba(234, 193, 90, 1 );
				}
				&>input.inputBox:focus {
					border-radius: 10px;
					border: 0;
					box-shadow: 0 0 10px 5px $gold-color;
				}
				&>input:invalid {box-shadow: none;}
			}
			span.search_glass {
				position: absolute;
				top: 23%;
				right: 3%;
				font: 2.5rem/.5 'Lora';
				opacity: 1;
				color: $gold-color;
				cursor: default;
			}
		}
	}
}

