section.photos {
	margin-top: 1rem;
	.photos_albums {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0 2% 3rem 2%;
		border-bottom: 1.5px solid;
		border-image: linear-gradient(to right, transparent, $gold-color, transparent) 10% !important;
		button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
			position: absolute;
			top: 35%;
			background: url("../img/arrow_for_all.svg") transparent no-repeat;
			fill: #fff;
			border: 0;
			cursor: pointer;
			width: 34px !important;
			height: 34px !important;
		}
		button.slick-prev.slick-arrow {
			left: 0;
			transform: rotate(-180deg) ;
		}
		button.slick-next.slick-arrow {
			right: 0;
		}
		.slick-list.draggable {
			margin-right: 1.8rem;
			margin-left: 1.8rem;
			.slick-track {
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
		}
		h2[class*="photos_link_"] {
			@include aligning_element;
			display: flex!important;
			flex-direction: column;
			text-align: center;
			cursor: pointer;
			margin: 2.5rem 0 0;
			padding: 0 1rem;

			&>img {
				width: 170px;
				height: 170px;
				object-fit: cover;
				border-radius: 50%;
				margin-bottom: 1.5rem;
			}
			.photos_albums_description {
			@include common_description_text;
				display: block;
				font-size: 1.3rem;
				font-style: italic;
				color: $gold-color;
				text-indent: 0;
				text-align: center;
				padding: 5px 20px;
				border-radius: 30px;
				line-height: 1.2;
				white-space: nowrap;
				margin: 0 0 2.5rem;
				&:first-letter {
					margin: 0;
				}
			}
		}
		.active_photos_tab {
			&>img, &>.photos_albums_description {
				animation: album_highlighting .5s linear forwards;
				@keyframes album_highlighting {
					from {
						box-shadow: 0 0 0 0 $gold-color;
					}
					to {
						box-shadow: 0 0 15px 8.5px $gold-color;
					}
				}
			}
		}
	}
	.photos_content {
		display: block;
		@media (max-width: 575px) {
			padding: 0 !important;

		}
		div[class*="photos_link_"] {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			.photos_content_image {
				width: 150px;
				height: 150px;
				margin: 0 .3rem .6rem;
				&>a {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					&>img {
						width: 150px;
						height: 150px;
						object-fit: cover;
						//box-shadow: 0 0 .3rem  white;
					}
					span.magnifying_glass {
						display: none;
						position: absolute;
						justify-content: center;
						align-items: center;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						background-color: $gold-color;
						font-size: 1.7rem;
						color: #000;
						padding-bottom: .23rem;
					}
					&:hover span.magnifying_glass {
						display: flex;
					}
				}
			}
		}
	}
}