section.world_map {
	display: block;
	.world_map_countries {
		button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
			position: absolute;
			background: url("../img/arrow_for_all.svg") transparent no-repeat;
			fill: #fff;
			border: 0;
			cursor: pointer;
			width: 34px !important;
			height: 34px !important;
			z-index: 999;
		}
		button.slick-prev.slick-arrow {
			left: 1%;
			top: 25%;
			transform: rotate(-180deg) ;
		}
		button.slick-next.slick-arrow {
			right: 1%;
			top: 25%;
		}
		.slick-list.draggable {
			width: 85%;
		}
		@extend %world_map_indicator;
		@include aligning_element;
		position: relative;
		width: 100%;
		min-height: 100%;
		background: transparent;
		.indicator_inner {
			&>a {
				@include aligning_element;
			}
		}
	}

	.whole_map {
		margin: 0 20px;
		width: 100%;
		svg{
			width:100%;
			#map_width{
				path{
					fill: $svg-fill;
					transition:fill .3s;
				}
				#russia, #novaya_zemlya_south, #novaya_zemlya_north, #prince_george,
#salisbury, #wilczek, #bell, #komsomolets, #october, #bolshevik, #kotelny, #novaya_sibir, #lyakhovsky, #wrangel, #bering_island, #medny, #paramushir, #onekotan, #sakhalin, #attu, #amchitka, #adak, #umnak, #unalaska, #st_lawrence_island {fill: #FAA43D}
				#usa, #alaska, #haida_gwaii {fill: #E9B2D1}
				#canada, #vancouver, #newfoundland, #banks, #prince_patrick, #eglinton, #mackenzie_king, #king_christian, #ellef_ringnes, #amund_ringnes, #axel_heiberg, #victoria, #prince_of_wales, #prescott, #canada, #cornwallis, #bathurst, #devon, #cbaffin, #bylot, #ellesmere, #southhampton, #newfoundland, #baffin {fill: #CC85B8}
				#panama {fill: #EF20CD}
				#haiti_dominican_border, #domincan_republic, #haiti {fill: #DC4F70}
				#all_bahamas, #bimini, #andros, #inagua, #eleuthera, #grand_bahama {fill: #E9B2D1}
				#st_vincent_barbados {fill: #EAE70B}
				#uk, #britain, #ulster{fill: #B5DFED}
				#portugal {fill: #7BA5CC}
				#spain, #majorca {fill: #B7E1F9}
				#all_france, #france, #corsica {fill: #68D2F3}
				#all_italy, #italy, #sardinia, #sicily {fill: #689FD6}
				#belgium {fill: #8DB2D6}
				#netherlands {fill: #80C7E0}
				#germany {fill: #86D5DA}
				#czech {fill: #97B4D3}
				#poland {fill: #75D3F3}
				#ukraine {fill: #719BD5}
				#hungary {fill: #9BADCF}
				#slovakia {fill: #B2E2FA}
				#bulgaria {fill: #7CC6E9}
				#egypt {fill: #FF8700}
				#turkey {fill: #FF8700}
				#oman {fill: #FF8700}
				#emirates {fill: #FF8700}
				#india {fill: #FF8700}
				#china {fill: #F26923}
				#vietnam {fill: #DB3727}
				#thailand {fill: #D73632}
			}
		}
		#indicator{
			@extend %world_map_indicator;
		}
	}
}